<ul class="nav-menu"
    @navBarAnimation
    *ngIf="!(navCollapsed$ | async) || navigationActive">
       <li><a routerLink="/info"
                 routerLinkActive="active">Info</a></li>
       <li><a routerLink="/agenda"
                 routerLinkActive="active">Agenda</a></li>
       <li><a routerLink="/archive"
                 routerLinkActive="active">Archive</a></li>
       <li><a routerLink="/about"
                 routerLinkActive="active">About</a></li>
</ul>

<div class="nav-control"
     [class.visible]="navCollapsed$ | async">
       <button class="hamburger hamburger--spin-r"
               [class.is-active]="navigationActive"
               (click)="navToggleClicked()"
               type="button"
               tabindex="0"
               aria-label="Menu"
               role="button"
               aria-controls="navigation">
              <span class="hamburger-box">
                     <span class="hamburger-inner"></span>
              </span>
       </button>
</div>