@import 'breakpoints';

$hamburger-layer-color: white;
$hamburger-padding-x: 16px;
$hamburger-padding-y: 17px; 
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-border-radius: 2px;
$hamburger-layer-spacing: 6px;

@import 'hamburgers/_sass/hamburgers/hamburgers';

.nav-menu{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    transform: translate(-100%,-16px);
    li{
        font-size: 16px;
        margin: 24px;
        letter-spacing: 0.3px;

        @include sm {
            font-size: 24px;
            margin: 32px;
        }
    }
}