@import 'breakpoints';

$hamburger-layer-color: black;
$hamburger-padding-x: 16px;
$hamburger-padding-y: 17px; 
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-border-radius: 2px;
$hamburger-layer-spacing: 6px;

@import 'hamburgers/_sass/hamburgers/hamburgers';


:host{
    font-family: 'Prata', serif;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include sm {
        margin: 0 24px;
    }
}

.nav-menu{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li{
        font-size: 16px;
        margin: 24px;
        letter-spacing: 0.3px;

        @include sm {
            font-size: 24px;
            margin: 32px;
        }
    }
}

.nav-control{
    margin: 24px;
    margin-right: -75px;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;

    &.visible{
        margin-right: 0;
        opacity: 1;
        pointer-events: initial;

        @include sm {
            margin: 32px;
        }
    }
}

button.hamburger{
    // border: 2px solid white;
    background-color: white;
    border-radius: 100%;
    .hamburger-box{
        transform: translateY(2px) !important;
    }
}