@import 'variables';
$title-size: 88px;
$header-size: 70px;
$in-size: 48px;
$leading: 84px;

:host{
    width: 100%;
    height: 100%;
}

.title{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    h1{
        @include text-margin-reset;
        font-size: $title-size;
        line-height: $leading;
        font-weight: 500;
    }
    h2{
        @include text-margin-reset;
        font-size: $header-size;
        line-height: $leading;
        font-weight: $font-weight-light;
        margin-top: 3px;
    }
}

.content-title{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 2em;
    h1{
        @include text-margin-reset;
        overflow-wrap: break-word;
        font-size: $header-size;
        line-height: $leading;
        font-weight: 500;
    }
}

.content-container{
    display: flex;
    padding: 2em 5em;
    margin-bottom: 100px;
    width: 100%;
    .video-area{
        flex: 3;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        iframe{
            width: 80vw;
            height: calc(80vw / (16/9));
            max-width: 1920px;
            max-height: calc(1920px / (16/9));

        }
    }
    .details-area{
        width: 180px;
        border: 1px solid white;
        margin: 0 4em;
        border-radius: 8px;
        padding: 16px;
        .object-image{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}