<div class="title">
    <h1>
        STILL LIFE WITH <br>
        ‘MISE - EN - SCÈNE’
    </h1>
    <h2>
        (PLACING OF A STAGE)
    </h2>
</div>

<ng-container *ngFor="let d of data">

    <div class="content-title">
        <h1>
            {{d.titleSegments[0]}}
            <span class="in">in</span>
            {{d.titleSegments[1]}}
        </h1>
    </div>


    <div class="content-container">
        <div class="video-area">
            <iframe [src]="d.videoId | safe"
                    frameborder="0"
                    allow="autoplay; fullscreen"
                    allowfullscreen
                    width="100%"
                    height="100%"></iframe>
        </div>
    </div>
</ng-container>