.objects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.object{
    a{
        width: 125px;
        height: 125px;
        object-fit: contain;
        display: block;
    }
    padding: 16px;
    img{
        width: 100%;
        z-index: 2;
    }
}