@import 'breakpoints';

.nav-control{
    background-color: black;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 18px;
    cursor: pointer;
    @include sm {
        width: 64px;
        height: 64px;
        font-size: 24px;
    }
    &:hover{
        border-color: white;
    }
}