<div class="exhibition-view">
    <ng-container *ngIf="exhibitionId$ | async as id">
        <h1 *ifChanges="id"
            [@fadeValueChange]>Exhibition {{ id }}</h1>
    </ng-container>
    <museum-exhibition-navigation (next)="nextExhibition()"
                                  (prev)="prevExhibition()"></museum-exhibition-navigation>
</div>
<ng-container *ngIf="exhibitionMeta$ | async as meta">
    <museum-exhibition-details @detailAnimation
                               [data$]="exhibitionMeta$"
                               (exit)="closeDetails()"
                               *ngIf="showDetails$ | async"></museum-exhibition-details>
</ng-container>