@import 'breakpoints';
@import 'variables'; 

:host{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

nav.headernav{
    position: absolute;
    top: 0; 
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    z-index: 2;
    museum-anchor-button{
        margin-left: 16px;
        position: relative;
    }
}

.exhibition-view{
    width: 100%;
    height: calc( 100% - 75px);
    position: relative;
    iframe{
        width: 100%;
        height: 100%;
    }
}

museum-exhibition-details{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        @include sm {
            flex-grow: 1;
            position: relative;
        }
}

nav{
    .nav-level{
        display: flex;
        flex-direction: row;
        museum-content-tab{
            flex: 1;
        }
    }
}

.nav-bot-top-row{
    @include tab-row(calc(100vh - 80px), 1);
}