@import 'breakpoints';

:host{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

nav.headernav{
    position: absolute;
    top: 0; 
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    z-index: 2;
    museum-anchor-button{
        margin-left: 16px;
        position: relative;
    }
}

.exhibition-view{
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    @include sm {
        flex-grow: 1;
    }
}

museum-exhibition-details{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        @include sm {
            flex-grow: 1;
            position: relative;
        }
}