<ng-container *ngIf="collectionId$ | async as id">
    <ng-container *ngIf="exhibitionMeta$ | async as metadata; else awaitingMetadata">
        <div class="exhibition-view"
             [ngSwitch]="metadata.loadType">
            <iframe *ngSwitchCase="'iframe'"
                    [src]="metadata.loadId | safe"
                    frameborder="0"></iframe>
            <div style="height:100%;width:100%;overflow-y:auto;"
                 *ngSwitchDefault>
                <template #dynamicContainer></template>
            </div>
        </div>

        <nav>
            <div class="nav-level nav-bot-top-row">
                <museum-content-tab header="About Exhibition">
                    <museum-exhibition-about [data$]='exhibitionMeta$'>
                    </museum-exhibition-about>
                </museum-content-tab>
                <museum-content-tab header="Object list"
                                    [attr.disabled]="disableObjectTab$ | async">
                    <museum-exhibition-object-list [objects$]='objects$'></museum-exhibition-object-list>
                </museum-content-tab>
            </div>
        </nav>
    </ng-container>
    <ng-template #awaitingMetadata>
        <div class="loader"
             *ngIf="componentMayLoad; else exhibitionNotFound">
            <museum-loader></museum-loader>
        </div>
    </ng-template>
    <ng-template #exhibitionNotFound>
        <museum-exhibition-not-found></museum-exhibition-not-found>
    </ng-template>
</ng-container>