<h1>Mission Statement</h1>

<p>The ______ is an online platform which functions as both a museum and as an
    on-going research project into ways that online museums can be congured.
    The platform will present dierent ways that content (collections- objects, artworks
    etc) can be displayed online. It is an on-going exploration into ways a ‘museum’ can
    function when it exists within the digital realm and is located online. The _____ is a
    framework, which expands with every new contribution for how the online
    museum could be.</p>
<p>
    The content for the ____ is ‘borrowed’ from other museums, who have uploaded
    images of their collections to the internet, with creative commons licencing. Collections and artworks can merge, away from
    institutional practices.
</p>