@import "variables";

$date-font-size: 100px;
$headline-font-size: 88px;
$subtitle-font-size: 40px;
$dash-height: 3px;

:host{
    color: rgb(255,255,242);
    font-weight: 300;
    background-color: black;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
}

h1, h2{
    @include text-margin-reset;
}

.title-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    .tagline-title{
        @include text-glow;
        text-align: center;
        h1{
            font-size: $headline-font-size;
            font-weight: 500;
            line-height: 88px;
            span{
                font-weight: $font-weight-lighter;
            }
        }
    }

    .tagline-subtitle{
        text-align: center;
        h2{
            font-size: $headline-font-size;
            font-weight: 500;
            line-height: 88px;
            text-transform: uppercase;
        }
    }
    
}
a{
    width: 100%;
    text-align: center;
    color: $green;
    font-size: $subtitle-font-size;
}