@import "breakpoints";
@import "variables";

:host{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    z-index: 3;
}

#pointer{
    position: absolute;
    height: 40px;
    transform-origin: top center;
}

img{
    pointer-events: none;
}

div.floorplan{
    width: 100%;
    cursor: default;
    z-index: 1;
}

svg{
    width: 100%;
    max-width: 100%;
    g.hoverable{
        z-index: 2;
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
}