@import 'breakpoints';

:host{
    color: rgb(255,255,242);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.word{
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 0.8px;
    line-height: 100px;
    text-shadow: 0 0 10px rgb(255,255,242), 0 0 20px rgb(255,255,242);
    font-weight: 300;
}

nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    z-index: 2;
    .nav-level{
        display: flex;
        museum-content-tab{
            flex: 1;
        }
    }
}

.nav-bot-top-row{
    transform: translateY(40px);
}

museum-exhibition-banner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}