<section id="entrance-animation">
    <div class="word">
        <span class="char">O</span>
        <span class="char">N</span>
        <span class="char">L</span>
        <span class="char">I</span>
        <span class="char">N</span>
        <span class="char">E</span>
    </div>
    <div class="word">
        <span class="char">M</span>
        <span class="char">U</span>
        <span class="char">S</span>
        <span class="char">E</span>
        <span class="char">U</span>
        <span class="char">M</span>
    </div>
</section>

<div class="enter-exhibition">
    <a routerLink="/exhibition"><button>Enter exhibition</button></a>
</div>