@import 'breakpoints';
@import 'variables'; 

@mixin tab-row($bottom: 0px, $zindex: 1){
    z-index: $zindex;
    position: absolute;
    bottom: $bottom;
    left: 16px;
    right: 16px;
}

:host{
    color: rgb(255,255,242);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.word{
    @include text-glow;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 0.8px;
    line-height: 100px;
    font-weight: 300;
}

nav{
    .nav-level{
        display: flex;
        flex-direction: row;
        museum-content-tab{
            flex: 1;
        }
    }
}

.nav-bot-top-row{
    @include tab-row(0px, 1);
}

.nav-bot-bot-row{
    @include tab-row(-40px, 2);
}

museum-exhibition-banner{
    @include absolute-cover(1);

}