<section id="entrance-animation"
         (click)="startExhibitionSequence()">
    <div class="word">
        <span class="char">O</span>
        <span class="char">N</span>
        <span class="char">L</span>
        <span class="char">I</span>
        <span class="char">N</span>
        <span class="char">E</span>
    </div>
    <div class="word">
        <span class="char">M</span>
        <span class="char">U</span>
        <span class="char">S</span>
        <span class="char">E</span>
        <span class="char">U</span>
        <span class="char">M</span>
    </div>
</section>

<museum-exhibition-banner [@sideSlide]="showBanner ? 'visible' : 'hidden'"></museum-exhibition-banner>

<nav>
    <div class="nav-level nav-bot-top-row">
        <museum-content-tab title="About Online Museum"
                            activatedRoute="about"></museum-content-tab>
        <museum-content-tab title="Research and archive"
                            activatedRoute="research"></museum-content-tab>
    </div>
    <div class="nav-level nav-bot-bot-row">
        <museum-content-tab title="Contributors"></museum-content-tab>
        <museum-content-tab title="Contact"></museum-content-tab>
        <museum-content-tab title="Floor plan"></museum-content-tab>
    </div>
</nav>