:host{
    height: 100%;
    width: 100%;
}
.emoji{
    width: 100%;
    height: 100%;
    position: relative;
    .foreground,.background{
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        img{
            flex: 1;
            height: 100%;
            width: auto;
        }
    }
    
    .foreground {
        z-index: 1;
    }
}