<div class="emoji">
     <div class="foreground"
          (deferLoad)="hideEmoji = false"
          #foreground>
          <img *ngIf="!hideEmoji"
               loading="lazy"
               @insertRemove
               [src]="amphora.emojiImageUrl"
               [alt]="amphora.name">
     </div>
     <div class="background"
          #background>
          <img *ngIf="showAmphora"
               loading="lazy"
               @insertRemoveAmphora
               [src]="amphora.amphoraImageUrl"
               [alt]="amphora.name">
     </div>
</div>