<div class="background"
     (click)="closeDetails()">
</div>
<article class="paper">
    <div class="head">
        <h2>The Online Museum</h2>
        <hr>
    </div>
    <div class="text">
        <h3>Title of exhibition</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae at natus minus sed labore. Illo quae, ut exercitationem
            vitae atque nobis blanditiis ipsam quo, officiis hic, voluptatibus unde vel reiciendis.</p>
    </div>
    <div class="controls">

    </div>
</article>