:host{
    width: 100%;
    height: 100%;
}
.timeline{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    drag-scroll{
        flex: 1;
        cursor: grab;
        user-select: none !important;
        &:active{
            cursor: grabbing;
        }
        p,h1,h2,h3,h4,h5,span,a {
            user-select: none !important;
            cursor: grab;
            &:active{
                cursor: grabbing;
            }
        }
        .timeline-header{
            background-color: black;
            color: white;
            padding: 3px;
            height: 30px;
            white-space: nowrap;
            width: auto;
            .starter-spacer, .time-indicator{
                width: 33vw;
                max-width: 1500px;
                display: inline-block;
            }
        }
        .timeline-content{
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
    .timeline-footer{
        padding: 0px 20px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.drag-scroll-content {
    overflow: hidden !important;
  }

.timeline-draggable-content{
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
}